
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*it is a better practice to specify font related
  things in the body, than in the universal selector*/

body {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #fff;
	padding: 20px;

}

.header {
	height: 95vh;
	background: linear-gradient(
		to right bottom, 
		rgba(57, 204, 204, 0.8), 
		rgba(20, 84, 109, 0.8)) ,
	url(../img/business-hero.jpg) 
	top center/cover;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 40px;
}

/*HEADING*/

.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary {
	color: #ffffff;
	text-align: center;
	/*
	*Every animation is a little shaky,
	* no one knows why. Backface-visibility helps.
	*/
	backface-visibility: hidden;
	margin-bottom: 30px;
	
}

.heading-primary-main {
	display: block;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 5px;
	animation-name: moveInLeft;
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	text-transform: uppercase;
}

.heading-primary-sub {
	display: block;
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 1px;
	animation: moveInRight 1s ease-in;

}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 100px;
	transition: all .2s;
	position: relative;
}


.btn:hover {
	transform: translateY(-3px);
	/*box-shadow: X, Y, blur color;*/
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

.btn-white {
	background-color: #ffffff;
	color: rgb(20, 84, 109);
	padding: 15px 40px;
	display: inline-block;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn-white::after {
	background-color: #ffffff;
}

.btn:hover::after {
	/*double size*/
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn-animated {
	/*animation-name, animation-duration, animation-direction, animation-delay*/
	animation: moveInBottom .5s ease-out .75s;
	/*automatically set the zero position of the animation. This way the button won't show before the animation*/
	animation-fill-mode: backwards;
}

/*ANIMATIONS*/

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		/*to move exactly the same location, where it is defined*/
		transform: translate(0);
	}

}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		/*to move exactly the same location, where it is defined*/
		transform: translate(0);
	}

}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		/*to move exactly the same location, where it is defined*/
		transform: translate(0);
	}

}

